.jumbotron {
    background-color: teal;
    color: white;
    margin-top: 50px;
}

.btn {
    color: white
}

footer {
    padding: 10px 10px 0 10px;
    background-color: lightslategrey;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.card-subtitle {
    padding: 10px 0px 0 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.btn-link {
    background-color: transparent;
    color: blue;
}

.btn-outline-success {
    color: green;
}

.footer-addres-icon {
    padding-right: 10px;
}

.col-sm-4 {
    padding-top: 10px;
    display: inline-block;
    text-align:center;
}

.tab-content {
    padding-top: 10px;
    background-color: transparent;
}

