.jumbotron {
  background-color: #004f4a;
  color: #ebebfc;
  margin-top: 50px;
}
.btn {
  color: #ebebfc;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #778899;
  color: #ebebfc;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.card-subtitle {
  padding: 10px 0px 0 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-link {
  background-color: transparent;
  color: #201675;
}
.btn-outline-success {
  color: #03631d;
}
.footer-addres-icon {
  padding-right: 10px;
}
.col-sm-4 {
  padding-top: 10px;
  display: inline-block;
  text-align: center;
}
.tab-content {
  padding-top: 10px;
  background-color: transparent;
}
