$white:#ebebfc;
$green:#03631d;
$blue:#201675;
$teal: #0e4a4d;
$ligth: #778899;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $teal;
    color: $white;
    @include margenes(50px, 0px);
}

.btn {
    color: $white
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $ligth;
    color: $white;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.card-subtitle {
    padding: 10px 0px 0 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.btn-link {
    color: $blue;
}

.btn-outline-success {
    color: $green;
}

.footer-addres-icon {
    padding-right: 10px;
}

.col-sm-4 {
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}

.tab-content {
    padding-top: 10px;
}